#about div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about canvas{
    width: 10rem;
    height: 10rem;
    background-image: url(./IMG_6797.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    float: right;
    shape-outside: circle();
    margin-left: 2rem;
    border: 0.15rem solid white;
}



#about p{
    text-align: justify;
    float: right;
}

#about span{
    color: var(--text-color);
}

#about span:last-child {
    display: inline-block;
    margin: 1rem 0;
}